figure.landing-titulo h1 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	color: white;
	text-shadow: 2px 2px 5px black;
}

figure.landing-titulo h3 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	color: white;
	text-shadow: 2px 2px 5px black;
}

figure.landing-titulo h1,
figure.landing-titulo h3,
figure.landing-titulo p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
	text-align: center;
	width: 100%;

}


figure.landing-titulo h3 {
	text-transform: none;
	color: white;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}

figure.landing-titulo:hover h1 {
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}

figure.landing-titulo:hover h3 {
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}


figure.landing-titulo:hover h3 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
